@model PTPM_HTQLNH_SHARE.Models.User
@{
	 
    string action = ViewBag.Action;
}
<div class="card">
	<div class="card-header">
        <strong class="card-title">@ViewBag.Title</strong>
		<div class="pull-right">
			@Html.ActionLink("Quay lại", "Index", new { }, new { @class = "btn btn-default btn-sm" })

		</div>
	</div>
    <div class="card-body">
        @if (ViewBag.error != null)
        {
            <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                <span class="badge badge-pill badge-danger">Error</span>
                @ViewBag.error
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        }
        @using (Html.BeginForm(action ?? "Create", "Users", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                <label class="control-label col-sm-2">Tài khoản</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.id, new {  type="hidden" })

                    @Html.TextBoxFor(m => m.login_name, new { @class = "form-control", placeholder = "Nhập tài khoản" })

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Mật khẩu:</label>
                <div class="col-sm-10">
                    @Html.PasswordFor(m => m.password, new { @class = "form-control", placeholder = "Nhập mật khẩu" })

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Trạng thái:</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.status, new SelectList(PTPM_HTQLNH_SHARE.StatusBuilder.createUserStatus(), "value", "display"), new { @class = "form-control" })

                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">Lưu</button>
                </div>
            </div>
        }

    </div> 
</div>
